modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full-Stack Dev"

[[workflows.workflow]]
name = "Full-Stack Dev"
author = 43033265
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && PORT=3000 HOST=0.0.0.0 npm start"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
